<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>User List</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/uikit/3.6.19/css/uikit.min.css}">
    <script th:src="@{/webjars/uikit/3.6.19/js/uikit.min.js}"></script>
    <script th:src="@{/webjars/uikit/3.6.19/js/uikit-icons.min.js}"></script>
  </head>
<body>
  <div id="header" class="uk-flex uk-flex-center uk-flex-middle uk-margin-top">
    <div class="uk-card">
      <div class="uk-heading-small">User List</div>
    </div>
    <div class="uk-card">
      <a class="uk-button uk-button-primary uk-margin-left" th:href="@{/user/register/input}">
        <span uk-icon="plus-circle"></span>
        Add User
      </a> 
    </div>
  </div>
  <div id="body" class="uk-flex uk-flex-center uk-padding">
    <table class="uk-table uk-table-striped">
      <caption>User List</caption>
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
          </tr>
      </thead>
      <tbody>
        <th:block th:each="user : ${userList}">
          <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
          </tr>
        </th:block>  
      </tbody>
    </table>
  </div>
</body>
</html>