<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}"
>
  <head>
    <title>User Registration - Complete</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div id="body" class="uk-flex uk-flex-center uk-padding-large">
        <h3>Registered!</h3>
      </div>
      <div id="link" class="uk-flex uk-flex-center">
        <a class="uk-link-muted" th:href="@{/users}">
          <span uk-icon="forward"></span>
          To User List Page
        </a>
      </div>
    </div>
  </body>
</html>
