<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>User Registration - Complete</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/uikit/3.6.19/css/uikit.min.css}">
    <script th:src="@{/webjars/uikit/3.6.19/js/uikit.min.js}"></script>
    <script th:src="@{/webjars/uikit/3.6.19/js/uikit-icons.min.js}"></script>
</head>
<body>
    <div id="body" class="uk-flex uk-flex-center uk-padding-large">
        <h3>Updated!</h3>
    </div>
    <div id="link" class="uk-flex uk-flex-center">
        <a class="uk-link-muted" th:href="@{/users}">
            <span uk-icon="forward"></span>
            To User List Page
        </a>
    </div>
</body>
</html>