<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>User Registration - Input</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/uikit/3.6.19/css/uikit.min.css}">
    <script th:src="@{/webjars/uikit/3.6.19/js/uikit.min.js}"></script>
    <script th:src="@{/webjars/uikit/3.6.19/js/uikit-icons.min.js}"></script>
</head>
<body>
  <form id="form" class="uk-flex uk-flex-center uk-padding-large" 
    th:action="@{/user/update/confirm}" th:object="${form}" method="post">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">User Update - Input</legend>

      <div class="uk-margin">
        <input id="id" class="uk-input" type="hidden" th:field="*{id}">
        <label class="uk-form-label" for="form-stacked-text">Name</label>
        <input id="name" class="uk-input" type="text" placeholder="Name" th:field="*{name}">
      </div>

      <div class="uk-margin">
        <input type="submit" value="Confirm" class="uk-button uk-button-primary"/>
      </div>
      
    </fieldset>
  </form>
</body>
</html>